@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Anton/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Anton/1Ptgg87LROyAm3K9-C8QSw2.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Anton/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.about-user-line {
  font-family: "Open Sans", sans-serif;

  /* padding: 0 4em; */ }

  .title-head {
    font-size: 2.9em;
    font-weight: 900;
    font-family: 'anton';
    color: rgb(19, 8, 3);
 
  }
main {
  

  width: 60%;
  padding-top: 12vh;
  margin: auto; }

p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #00000098 0%, #dac2c2c5 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  word-break: break-all;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #1f0707; }
  p:before {
    display: none;
 }

p:nth-child(odd) {
  border-right: 3px solid;
  padding-right: 10vh; }
  p:nth-child(odd):before {
    left: 100%;
    margin-left: -20px; }

p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0; }
  p:nth-child(even):before {
    right: 100%;
    margin-right: -20px; }

p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  